<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the test editor</h1>
    <form action ='analyze' method='get'>
        <textarea name='text' style="height:362px;width:1041px;margin:0px;"></textarea><br>
        <input type="checkbox"name='removepunc'> Remove Punctuation<br>
        <input type="checkbox"name='fullcaps'> Capitalize<br>
        <input type="checkbox"name='newlineremover'>new Line Remover<br>
        <input type="checkbox"name='countchar'>Count char<br>
        <button type='submit' style='margin:15px;'>Search</button>
    </form>
</body>
</html>